.board-main-content {
    height: 100%;
    overflow: auto;
}
.board-header-content {
    height: auto;
    position: sticky;
    left: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    width: calc(100% - 23px);
    align-items: center;
    padding: 4px 10px 0px 16px;
    margin-bottom: 4px;

    @media (max-width: 768px) {
        padding: 0;
    }
}
.board-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;

    padding: 0 10px;
}
.create-project-button {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 8px;
    background: #d0e395 !important;
    box-shadow: none;
    border: none;
    color: #000000;
    border-radius: 3px;
}
.board-header-button {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 32px;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: auto;
}
.share-button,
.project-delete-button {
    display: flex;
    border-radius: 0.3em;
    border: none;
    align-items: center;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #dfe1e6;
    color: #172b4d;
}
.share-icon,
.project-delete-icon {
    position: relative;
    top: 1px;
    margin-right: 4px;
}
