.card-detail {
    float: left;
    margin: 0 8px 25px 0;
    max-width: 100%;
}
.custom-width {
    margin-top: 80px;
    max-width: 45%;
    @media (max-width: 580px) {
        margin: 0 auto;
        margin-top: 85px;
    }
}
.modal-header-padding {
    padding: 9px 28px;
    font-weight: 600;
    font-size: 14px;
}
.modal-custom-title {
    font-size: 18px;
    font-weight: 600;
}
.board-title-input {
    padding: 0.2rem 0.5rem;
    font-size: 14px;
    font-weight: 500;
}
.parent-modal-blur {
    opacity: 0.5;
    pointer-events: none;
}
.card-detail-header {
    font-size: 12px;
    font-weight: 600;
}
.label-title {
    font-size: 14px;
    font-weight: 600;
}

.custom-modal-width {
    margin-top: 90px;
    @media (max-width: 577px) {
        width: 300px !important;
        margin: 0 auto;
    }
}
.task-member-header {
    font-size: 14px;
    font-weight: 600;
    border-bottom: none;
    border: none;
}
.member-list-text {
    font-size: 13px;
    font-weight: 500;
    border: none;
    padding-right: 0px !important;
}
.member-delete-sm-icon {
    color: #e75237;
    font-size: 14px;
    cursor: pointer;
}
.member-list-dash-icon {
    color: #e77256;
    font-size: 16px;
    cursor: pointer;
}
.member-list-plus-icon {
    color: #78d37c;
    font-size: 16px;
    cursor: pointer;
}
.card-detail-label-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.card-detail-label-text {
    margin-bottom: 0;
    border-radius: 3px;
    padding: 4px 12px;
    max-width: 100%;
    min-width: 65px;
    height: 26px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
}
.custom-fake-form {
    height: 61px;
    box-shadow: none;
    border: none;
    font-weight: 500;
    border-radius: 3px;
    color: var(--ds-text, #172b4d);
    display: block;
    min-height: 40px;
    padding: 8px 12px;
    text-decoration: none;
    overflow: hidden;
}
.modal-save {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 9px;
    background: #5596ff !important;
    box-shadow: none;
    border: none;
    color: #ffffff;
    border-radius: 3px;
}
.modal-cancel {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 12px;
    background: none;
    color: black;
}
.card-detail-description-header,
.card-detail-checklist-header {
    align-items: center;
    justify-content: space-between;
}
.modal-edit {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 3px 8px;
    background: #d0e395 !important;
    box-shadow: none;
    border: none;
    color: #000000;
    border-radius: 3px;
}
.add-item {
    // margin-left: 32px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 8px;
    background: #d0e395 !important;
    box-shadow: none;
    border: none;
    color: #000000;
    border-radius: 3px;
}
.priority-dropdown {
    font-weight: 600;
    max-width: 128px;
    font-size: 13px;
    // padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.checklist-label {
    font-size: 13px;
    font-weight: 500;
}
.label-input {
    padding: 0.2rem 0.6rem;
    font-size: 13px;
    font-weight: 500;
}
.edit-label-pencil {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.edit-priority-pencil,
.delete-priority-trash {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.priority-input,
.checklist-input {
    color: #000000;
    margin-right: 10px;
    font-size: 14px;
    height: 30px;
    font-weight: 500;
    border-radius: 3px;
    padding: 0px 8px;
    background-color: #ffffff;
}
.priority-add {
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 10px;
    background: #46ab89;
    border: none;
    color: #ffffff;
    font-weight: 500;
}

.edit-label-arrow {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #000000 !important;
}
.modal-hide-item {
    width: 11em;
    margin-right: 8px;
    border: none;
    border-radius: 3px;
    color: #172b4d;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 8px;
}
.add-to-card-header {
    font-size: 12px;
    font-weight: 600;
}
.card-button {
    font-size: 13px;
    border: none;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    display: block;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #ffffff;
}
.no-border-bottom {
    border-bottom: none;
}
.block-picker {
    margin: 0 auto !important;
}
.label-color-remove {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px;
    background-color: #323940;
    border: none;
    color: #dddada;
    font-weight: 500;
}

.create-button {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px;
    background-color: #5596ff;
    border: none;
    color: #ffffff;
    font-weight: 500;
}
.label-save,
.label-delete {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 8px;

    border: none;
    color: #ffffff;
    font-weight: 500;
}
.label-save {
    background-color: #4d90fe;
}
.label-save:disabled,
.create-button:disabled {
    opacity: 0.4;
    pointer-events: none;
    color: rgb(0 0 0);
    background-color: #889197;
}
.label-delete {
    background-color: #ff5656d9;
}
.label-edit-button {
    justify-content: space-between;
}
.styled-span {
    border-radius: 3px;
    padding: 0 12px;
    height: 32px;
    background-color: rgb(16 199 57 / 58%);
    line-height: 32px;
    color: var(--label-text-color, var(--ds-text, #172b4d));
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}
.progress-text {
    font-size: 11px;
    font-weight: 600;
    margin-right: 6px;
}
.edit-item-pencil {
    font-size: 14px;
    color: #8c9bab;
    margin-right: 16px;
    cursor: pointer;
}
.item-trash {
    margin-right: 0 !important;
}
.custom-loader {
    width: 25px !important;
    height: 25px !important;
    margin: 15px auto;
}
.circular-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 0px;
    cursor: auto !important;
}
