.card-sm-icon {
    margin-right: 8px;
    color: #8c9bab;
    font-size: 14px;
}

.custom-card {
    width: 15rem;
    cursor: pointer;
    height: fit-content !important;
    &:hover {
        box-shadow: 5px 5px 5px rgba(36, 34, 34, 0.1);
    }
    transition: all 0.3s ease;
}

.custom-card-add {
    // width: 15rem;
    cursor: pointer;
}

.custom-card-title {
    font-size: 16px;
    margin: 0 !important;
}

.custom-card-label{
    margin: 7px 0px;;
}
.card-list {
    padding: 0.4em 0.5em;

    @media (max-width: 870px) {
        justify-content: center;
    }
}
.create-card-button {
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #5596ff;
    border: none;
    color: #ffffff;
    font-weight: 500;
}
.add-card-text {
    font-size: 15px;
}
.label-color-small {
    margin-bottom: 0;
    border-radius: 3px;
    max-width: 100%;
    min-width: 48px;
    height: 8px;
    border: none;
}
.small-card-priority {
    margin-bottom: 0;
    border-radius: 3px;
    padding: 1px 12px;
    max-width: 80px;
    min-width: 70px;
    height: 20px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checked-items-count {
    font-size: 12px;
    font-weight: 600;
    padding-top: 1px;
}
.circular-button-all-tasks {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 9px;
    font-weight: 500;
    padding: 0px;
    cursor: auto !important;
    margin-right: 3px;
}
.custom-task-placeholder::placeholder {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
