.card-sm-icon {
    margin-right: 8px;
    color: #8c9bab;
    font-size: 14px;
}
.custom-card {
    width: 16rem;
    cursor: pointer;
}
.custom-card-title{
    font-size: 18px;
}
.card-list {
    padding: 12px 26px;

    @media (max-width: 576px) {
        justify-content: center;
    }
}
.create-card-button{
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 7px;
    background-color: #5596ff;
    border: none;
    color: #ffffff;
    font-weight: 500;
}
.add-card-text{
    font-size: 12px;
}
.label-color-small{
    margin-bottom: 0;
    border-radius: 3px;
    max-width: 100%;
    min-width: 48px;
    height: 8px;
    border: none;
}