.custom-stage-body {
    padding: 0.4rem 0.6rem;
    max-height: 37px;
}
.custom-stage {
//   flex: 1; /* All stages get equal width */
//   display: flex;
//   flex-direction: column;
//   min-height: 200px;
//   max-height: 96px;
}


.custom-stage-title {
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px !important;
}
.stage-title-input {
    padding: 0.45rem 0.6rem;
}
.stage-title-input::-webkit-input-placeholder {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}
.stage-horizontal-dots {
    font-weight: 700;
}
.stage-li-item {
    font-size: 15px;
}
.stage-list {
    padding: 0.4em 0.5em;

    @media (max-width: 870px) {
        justify-content: center;
    }
}
