.custom-stage-body {
    padding: 0.4rem 0.6rem;
}

.custom-stage-title {
    font-weight: 600;
    font-size: 16px;
}
.stage-title-input {
    padding: 0.45rem 0.6rem;
}
.stage-title-input::-webkit-input-placeholder {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}
.stage-horizontal-dots {
    font-weight: 700;
}
.stage-li-item {
    font-size: 15px;
}
.stage-list {
    padding: 0.4em 0.5em;

    @media (max-width: 870px) {
        justify-content: center;
    }
}

