.custom-stage-body {
    padding: 0.3rem 0.6rem;
}

.custom-stage-title {
    font-weight: 600;
    font-size: 16px;
}
.stage-title-input {
    padding: 0.29rem 0.6rem;
}
.stage-title-input::-webkit-input-placeholder {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}
.add-stage-text {

}

