.move-stage-card {
    width: 18rem;
    padding: 5px 15px 15px;
    position: absolute;
    z-index: 100;
}
.header {
    cursor: pointer;
    margin-bottom: 15px;
    background: transparent;
    padding-right: 8px;
    padding-left: 8px;
}

.bold-text {
    font-weight: 600;
}

.move-button {
    margin-top: 10px;
    background: #4a71ff;
    border: none;
    color: #ffffff;
    font-weight: 500;
    width: 100px;
    border-radius: 3px;
    padding: 5px;
}
