:root {
    --nav-container-width: 42vw;
}


@media (min-width: 1650px) {
    :root {
        --nav-container-width: 25vw;
    }
}
@media (max-width: 1650px) {
    :root {
        --nav-container-width: 25vw;
    }
}

.custom-dropdown-menu {
    min-width: 5rem !important;
}
.custom-dropdown-menu[data-bs-popper] {
    left: -70px;
}

.custom-logout-button,
.custom-logout-button:hover {
    padding: 0px 7px;
    background: none;
    color: #000000;
    border: none;
}

.nav-item.active {
    font-weight: bold;
}

.navbar-custom {
    padding: 0.2rem calc(-500px + var(--nav-container-width)) !important;
    margin-top: 5px;
    background-color: #f2f7fb !important;
    @media (min-width: 2000px) {
        padding: 0px !important;
    }
}

.custom-navbar-toggler {
    padding: 2px;
}
.logout-custom {
    @media (min-width: 991px) {
        position: absolute;
        right: 0 !important;
    }
}
.circular-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #7667b8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
}

.circular-button:hover {
    background-color: #0056b3;
}
.signout-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 16px;
    position: relative;
    @media (max-width: 991px) {
        display: block;
    }
    @media (min-width: 992px) {
        display: none;
    }
}

.custom-logout-dropdown {
    @media (max-width: 991px) {
        display: none;
    }
}

.signout-icon {
    margin-right: 5px;
    font-size: 24px;
}

.logout-text {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.signout-button:hover .logout-text {
    opacity: 1;
}

//footer
.footer {
    background-color: #eef3f7;
    color: #000000;
    padding: 30px 0px 10px;
    font-size: 14px;
    font-weight: 500;
}
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.footer-right {
    display: flex;
    align-items: center;
    padding-left: 78px;
    @media (max-width: 768px) {
        padding-left: 0px;
        justify-content: center;
    }
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 4px;
}

.text-center {
    text-align: center;
}
